{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="d-flex container " >

<form method="post" style="width:50%; margin:auto;" class="mt-3 d-flex flex-column">

{% csrf_token %}
{{ form | crispy}}
<button type="submit" class="btn btn-primary">{{ btn_text }}</button>
</form>


<div class= "container m-5 p-5">
{% comment %}  all history  {% endcomment %}
<h1 class> Order history </h1>

<table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">quantity</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for order in all_orders %}
      <tr>
          <td scope="row">{{ order.car }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.order_date }}</td>
      </tr>
      {% endfor %}
    </tbody>

</table>    
</div>
</div>
{% endblock content %}